.WhiteBG {
  background-color: white;
}
.BlueBG {
  background-color: blue;
}
.PurpleBG {
  background-color: purple;
}
.OrangeBG {
  background-color: orange;
}
.WhiteT {
  color: white;
}
.BlackT {
  color: black;
}
